

div.col-lg-6
    h1 {{title}}
    
    div.alert.alert-success( *ngIf="status === 'success'" ) Login Correcto!
    div.alert.alert-danger( *ngIf="status === 'error'" ) No te has logeado correctamente

    form.col-lg-7(
        '#loginForm'="ngForm",
        (ngSubmit)="onSubmit(loginForm)"
    )
        p
            label Correo electronico
            input.form-control(
                type="email", 
                name="email",
                #email="ngModel",
                [(ngModel)]="user.email",
                required
            )
            span( *ngIf="!email.valid && email.touched") Email obligatorio

        p
            label Contraseña
            input.form-control(
                type="password", 
                name="password",
                #password="ngModel",
                [(ngModel)]="user.password",
                required
            )
            span( *ngIf="!password.valid && password.touched") password obligatorio


        input(
            class="btn btn-success"
            type="submit", 
            placeholder="placeholder",
            value="{{title}}"
        )
